.App{
  /* border: 2px solid red; */
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  /* background: linear-gradient(to left #cc2b5e, #753a88); */
  background-image: linear-gradient(to right, #2c3e50 , #bdc3c7 )
  
}
.App h1{
  /* border: 2px solid red; */
  margin: 3rem;
  font-size: 5rem;
  height: 50%;
  width: 40%;
  color: antiquewhite;
}
.App h1 span{
  color: #dd5e89;
  font-size: 7rem;
}
.mainContainer{
  /* border: 2px solid blue; */
  height: 80%;
  width: 25%;
  box-shadow: 5px 5px 10px black;
  border-radius: 15px;
  
}